.blackLayer {
    position: absolute;
    width: 300%;
    z-index: 999;
    height: 100%;
    top: auto;
    left: -300%;
    bottom: auto;
    right: auto;
    background: black;
}

.whiteLayer {
    position: absolute;
    width: 200%;
    z-index: 1000;
    height: 100%;
    top: auto;
    left: -200%;
    bottom: auto;
    right: auto;
    background: white;
}
