.text {
    font-weight: 700;
    font-size: 3rem;
    width: 20vw;
    text-decoration: underline;
}

.text:hover {
    color: var(--hover-color);
    cursor: pointer;
}

.modalContent {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
}

.modal {
    overflow: auto;
    width: 90%;
    max-width: 70vw;
    margin: auto;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 4vh 3vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.titles {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 3rem;
    width: 20vw;
    text-decoration: underline;
}

.subtitle {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3rem;
    width: 23vw;
}

.close {
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
    background: none;
    border: none;
}

.close:hover {
    filter: invert(1);
}

.images {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    min-height: 50vh;
    display: flex;
}

.images::-webkit-scrollbar {
    display: none;
}

.imageModal {
    display: inline-block;
    height: 50vh;
    width: auto;
    animation: skeleton-loading 1s linear infinite alternate;
}

.indexContainer {
    position: relative;
}

.indexContainer:not(:last-child) {
    margin-right: 2vw;
}

.index {
    background-color: black;
    opacity: 50%;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    font-size: 1rem;
    font-weight: 700;
}

.description {
    text-align: end;
    font-size: 1.3rem;
    width: 50vw;
    align-self: flex-end;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    font-weight: 700;
    background: none;
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.button:hover {
    cursor: pointer;
    filter: invert(1);
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(207, 14%, 84%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.imageDisplayed {
    height: 50vh;
    width: auto;
    animation: skeleton-loading 1s linear infinite alternate;
}

@media only screen and (max-width: 600px) {
    .modal {
        max-width: 90vw;
        width: 100%;
        overflow: auto;
        max-height: 90vh;
    }

    .image > img {
        width: 80vw;
        height: 40vh;
        justify-self: center;
    }

    .text {
        font-size: 1.5rem;
        width: 80vw;
    }

    .title,
    .close {
        font-size: 2rem;
        width: 20vw;
    }

    .subtitle {
        font-size: 1rem;
        width: 50vw;
    }

    .imageModal {
        width: auto;
        height: 40vh;
    }

    .description {
        font-size: 1rem;
    }

    .actions {
        flex-direction: column;
        gap: 2vh;
    }

    .button {
        font-size: 1rem;
    }

    .imageDisplayed {
        height: auto !important;
        width: 80vw;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        max-height: 50vh;
        overflow: auto;
        justify-content: center;
        align-items: center;
    }

    .indexContainer:not(:last-child) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
    .image > img {
        height: auto;
        width: 40vw;
    }

    .imageDisplayed {
        height: 30vh;
        width: auto;
    }

    .text {
        font-size: 2rem;
    }
}
