.navContainer {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sidnav {
    height: 101vh;
    position: fixed;
    margin-left: -120vw;
    z-index: 20;
    top: 0;
    bottom: 0;
    padding-bottom: 10vh;
    right: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    width: calc(100% + 20vw);
    color: white;
    font-size: 1.5rem;
    opacity: 90%;
}

.burgerPiece {
    display: block;
    position: relative;
    width: 30px;
    border-top: 6px solid black;
    border-radius: 25px;
    transform-origin: 50% 50%;
    margin-top: 5px;
}

.sidnavLinks {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hr {
    width: 80%;
    border: 1px solid white;
}

.projectSidNav {
    font-size: 1.3rem;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    font-weight: 700;
    font-size: 2rem;
}

.menuLinks {
    border: none;
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    text-align: left;
}

.menuLinks:hover {
    color: #b5d4a8;
    cursor: pointer;
}

.projects-dropdown {
    position: relative;
    display: inline-block;
}

.projects {
    border: none;
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
}

.projects:hover {
    color: #b5d4a8;
    cursor: pointer;
}

.projects:has(+ .subprojects:hover) {
    color: #b5d4a8;
}

.subprojects {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #b5d4a8;
    text-transform: lowercase;
    gap: 1rem;
    padding: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.subprojects:hover {
    cursor: pointer;
}

.subprojects > span {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.subprojects > span::before {
    top: 2rem;
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272f;
    bottom: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.subprojects > span:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.hamburger {
    display: none;
    border: none;
    background: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

.contact {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 1px solid black;
    background-color: white;
    padding: 0.5rem 1rem;
}

.contact:hover {
    color: #ddadb4;
    border-color: #ddadb4;
    cursor: pointer;
}

.language {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    background-color: white;
}

.language:hover {
    color: #ddadb4;
    cursor: pointer;
}

.language:has(+ .languages:hover) {
    color: #ddadb4;
}

.languages {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ddadb4;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
    gap: 1rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1200px) {
    .links {
        font-size: 1.5rem;
    }

    .contact {
        font-size: 1rem;
    }

    .language {
        font-size: 1rem;
    }

    .languages {
        font-size: 1rem;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 768px) {
    .hamburger {
        display: block;
        position: absolute;
        z-index: 60;
    }

    .navbar {
        justify-content: flex-end;
    }

    .links {
        display: none;
    }

    .contact {
        font-size: 0.8rem;
    }

    .language {
        font-size: 0.8rem;
    }

    .languages {
        font-size: 0.8rem;
    }

    .sidnav {
        z-index: 50;
    }

    .sidnavLinks > .menuLinks {
        color: white;
    }
}
